html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  background: rgb(8, 36, 139);
  background: linear-gradient(
    45deg,
    rgba(8, 36, 139, 0.8995973389355743) 0%,
    rgba(6, 6, 140, 0.8015581232492998) 5%,
    rgba(8, 36, 139, 0.7987570028011204) 20%,
    rgba(7, 63, 157, 0.8015581232492998) 30%,
    rgba(6, 84, 171, 0.804359243697479) 40%,
    rgba(5, 102, 183, 0.804359243697479) 50%,
    rgba(4, 130, 201, 0.8015581232492998) 60%,
    rgba(2, 162, 222, 0.7987570028011204) 70%,
    rgba(1, 187, 239, 0.7959558823529411) 80%,
    rgba(1, 198, 246, 0.804359243697479) 90%,
    rgba(0, 212, 255, 0.7987570028011204) 100%
  );
}

.full-height {
  height: 100%;
}
